In [1]:
# Import our libraries

import statsmodels.formula.api as smf
import pandas as pd

# Import data to estimate the weight of fish sold at market
data = pd.read_csv("https://github.com/dustywhite7/econ8310-assignment1/raw/main/assignment_data_train.csv")

In [2]:
data.head()

             Timestamp  year  month  day  hour  trips
0  2018-01-01 00:00:00  2018      1    1     0  16714
1  2018-01-01 01:00:00  2018      1    1     1  19041
2  2018-01-01 02:00:00  2018      1    1     2  16590
3  2018-01-01 03:00:00  2018      1    1     3  12626
4  2018-01-01 04:00:00  2018      1    1     4   8739

In [3]:
model = smf.ols("trips ~ hour", data=data)

modelFit = model.fit()

In [4]:
modelFit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  trips   R-squared:                       0.478
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     8007.
Date:                Mon, 09 Sep 2024   Prob (F-statistic):               0.00
Time:                        14:43:23   Log-Likelihood:                -85191.
No. Observations:                8760   AIC:                         1.704e+05
Df Residuals:                    8758   BIC:                         1.704e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   5305.2245     83.879     63.249      0.000    5140.803    5469.646
hour         559.1670      6.249     89.480      0.000     546.917     571.417
==============================================================================
Omnibus:                      148.630   Durbin-Watson:                   0.515
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              124.091
Skew:                          -0.225   Prob(JB):                     1.13e-27
Kurtosis:                       2.629   Cond. No.                         26.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [7]:
test_data = pd.read_csv("https://github.com/dustywhite7/econ8310-assignment1/raw/main/assignment_data_test.csv")

X_test = test_data[['hour']]

pred = modelFit.predict(X_test)

In [8]:
pred

0       5305.224511
1       5864.391508
2       6423.558505
3       6982.725502
4       7541.892500
           ...
739    15929.397455
740    16488.564452
741    17047.731449
742    17606.898446
743    18166.065443
Length: 744, dtype: float64